.column  {

  float:left;
  width: 300px;
  color: blue;

}

.upcoming-shows {

  float:right;
  color: red;
  margin: 20px;
  border: 5px solid yellow;
  padding: 2px;
  background-color: blue;
}

img{


  float:right;
}
